@function pxToVw($px) {
    @return $px / 1920 * 100vw;
}
@function pxToPercent($px, $container_px) {
    @return $px / $container_px * 100%;
}

@mixin resetLinkDefaultStyle($color, $hover-color) {
    color: $color;
    text-decoration: none;
    transition: color $hover-transition-duration ease-in-out;
    
    &:hover, &:focus, &:active {
        color: $hover-color;
    }
}
@mixin centerOnAbsolute() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin centerHorizontallyOnAbsolute() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin centerVerticallyOnAbsolute() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}