.navigation {
    display: flex;
    width: 100%;
    height: 134px;
    background-color: #ffffff;
    padding-top: 4px;
    position: relative;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: auto;
        padding-top: 0;
        transition: max-height 0.6s ease-in-out;
        max-height: 90px;
        overflow: hidden;
        box-shadow: 0 0 7px 4px rgba(#000000, 0.15);
    }

    .navigation-logo-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: pxToPercent(861, 1920);

        @media screen and (max-width: 1700px) {
            width: pxToPercent(800, 1920);
        }
        @media screen and (max-width: 1500px) {
            width: pxToPercent(650, 1920);
        }
        @media screen and (max-width: 1200px) {
            width: pxToPercent(500, 1920);
        }
        @media screen and (max-width: 1024px) {
            padding: 16px 0;
        }
    }
    .navigation-links {
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: -0.5%;
        padding-right: pxToVw(56);

        @media screen and (min-width: 1921px) {
            padding-right: 56px;
        }
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            padding: 16px;
        }

        .navigation-link-wrapper {
            @media screen and (max-width: 1024px) {
                padding: 8px;
            }

            .navigation-link {
                @include resetLinkDefaultStyle($primary-color, $secondary-color);
                font-weight: 700;
                padding: 0 19px;
                font-size: 19px;

                @media screen and (max-width: 1700px) {
                    font-size: 18px;
                }
                @media screen and (max-width: 1500px) {
                    font-size: 17px;
                }
                @media screen and (max-width: 1200px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 18px;
                }

                &.icon-with-hover-wrapper {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    border: 1px solid $secondary-color;
                    transition: border-color $hover-transition-duration ease-in-out;
                    overflow: hidden;
                    margin: 0 5px;
                    
                    &:before {
                        content: '';
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        transition: transform $hover-transition-duration ease-in-out;
                        transform-origin: 50% 0;
                        transform: scaleY(0);
                        background-color: $primary-color;
                    }

                    &:hover {
                        &:before {
                            transform: scaleY(1);
                        }
                    }
                    .navigation-icon {
                        
                    }
                }
                
                .link-with-line {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        max-width: 100%;
                        width: 81px;
                        height: 1px; 
                        top: -5px;
                        left: 0;
                        background-color: $secondary-color;
                        transition: transform $hover-transition-duration;
                        transform: scaleX(0);
                        transform-origin: 0 50%;
                    }
                    @media screen and (min-width: 1025px) {
                        &:hover {
                            &:before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }

            &.navigation-first-icon-wrapper {
                margin-left: 32px;

                @media screen and (max-width: 1024px) {
                    margin-left: 0;
                }
            }
        }
    }

    .hamburger-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 90px;
    }
    #hamburger {
        width: 50px;
        height: 30px;
        position: absolute;
        top: 50%;
        right: 50px;
        // right: 0;
        transform: translate(50%, -50%);
        backface-visibility: hidden;

        .hamburger-line {
            width: 100%;
            height: 3px;
            background-color: $primary-color;
            position: absolute;
            left: 0;
            transition: transform 0.25s ease-in-out;
            transform: translateY(-50%);
            backface-visibility: hidden;
        }
        #hamburger-line_1 {
            top: 0;
            // transition-delay: 0.25s;
        }
        #hamburger-line_2 {
            top: 50%;
        }
        #hamburger-line_3 {
            top: 100%;
        }
    }

    &.expanded {
        max-height: 700px;
        transition: max-height 0.5s ease-in;

        #hamburger {
            #hamburger-line_1 {
                transform: translate(0, 15px) translateY(-50%) rotate(-45deg) scale(0.75);
            }
            #hamburger-line_2 {
                transform: translateY(-50%) rotate(-45deg) scale(0.75);
            }
            #hamburger-line_3 {
                transform: translate(0, -15px) translateY(-50%) rotate(45deg) scale(0.75);
            }
        }
    }
}